.design-join-icon13 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.innerframe-icon13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.speech-emotion-detection25 {
  position: relative;
  letter-spacing: -0.27px;
  line-height: 22.5px;
  white-space: nowrap;
}
.logo13,
.pagetext13 {
  display: flex;
  justify-content: flex-start;
}
.pagetext13 {
  height: 22.5px;
  width: 131.3px;
  flex-direction: column;
  align-items: flex-start;
}
.logo13 {
  width: 163.3px;
  flex-direction: row;
  align-items: center;
  gap: 0 32px;
}
.home13 {
  position: relative;
  line-height: 21px;
  font-weight: 500;
}
.option113 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.about13 {
  position: relative;
  line-height: 21px;
  font-weight: 500;
}
.option213 {
  width: 59.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-gray-100);
}
.contacts13 {
  position: relative;
  line-height: 21px;
  font-weight: 500;
}
.option313 {
  width: 66px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--color-gray-200);
  font-family: var(--font-spline-sans);
}
.main-option-menue13 {
  align-self: stretch;
  width: 258px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 36px;
}
.back12 {
  position: relative;
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.back-button12,
.colorpart21 {
  display: flex;
  flex-direction: row;
}
.colorpart21 {
  height: 40px;
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-silver);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.back-button12 {
  width: 113px;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-gray-200);
  font-family: var(--font-spline-sans);
}
.contacknavbar5,
.mainmenubox5 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.mainmenubox5 {
  height: 40px;
  width: 1036.7px;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0 32px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
  font-family: var(--font-work-sans);
}
.contacknavbar5 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  align-items: center;
  background-color: rgb(240, 248, 255,0.9);
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-21xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-0);
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
  font-family: var(--font-plus-jakarta-sans);
}
.image-icon1 {
  height: calc(100% - 24px);
  width: 928px;
  position: absolute;
  margin: 0 !important;
  top: 12px;
  bottom: 12px;
  left: 16px;
  border-radius: var(--br-xs);
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.imagebox1 {
  align-self: stretch;
  height: 344px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  box-sizing: border-box;
  position: relative;
}
.our-mission1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.8px;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
}
.missionbox1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-xs) var(--padding-xs);
}
.to-empower-creators1 {
  width: 928px;
  height: 128px;
  position: absolute;
  margin: 0 !important;
  bottom: -20px;
  left: calc(50% - 464px);
  line-height: 24px;
  white-space: pre-wrap;
  display: inline-block;
}
.passsgaebox1 {
  align-self: stretch;
  height: 112px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base) var(--padding-xs);
  box-sizing: border-box;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-spline-sans);
}
.our-story1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.8px;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
}
.storybox1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-xl) var(--padding-xs)
    var(--padding-2xl);
}
.we-were-founded1 {
  height: 114px;
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 100%;
}
.passsagebox1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-5xl) 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  font-size: var(--font-size-base);
}
.our-team1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.8px;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
}
.teambox1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-xl) var(--padding-xs)
    var(--padding-2xl);
}
.bharathi-b1,
.mentor3 {
  position: absolute;
  margin: 0 !important;
  display: inline-block;
}
.mentor3 {
  top: calc(50% + 4.5px);
  left: calc(50% - 24.5px);
  line-height: 21px;
}
.bharathi-b1 {
  width: 103px;
  top: 50px;
  left: 60px;
  font-size: var(--font-size-base);
  line-height: 20px;
  color: var(--color-gray-300);
}
.mentor2 {
  height: 131px;
  flex: 0.6323;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-21xl) var(--padding-21xl);
  position: relative;
  min-width: 205px;
  max-width: 223px;
  font-size: var(--font-size-sm);
  color: var(--color-slategray);
}
.harish-k-p1,
.student3 {
  position: absolute;
  margin: 0 !important;
  display: inline-block;
}
.harish-k-p1 {
  width: 191px;
  top: 50px;
  left: 16px;
  line-height: 20px;
}
.student3 {
  top: calc(50% + 4.5px);
  left: calc(50% - 27.5px);
  font-size: var(--font-size-sm);
  line-height: 21px;
  color: var(--color-slategray);
}
.kp-wrapper,
.kp1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.kp1 {
  align-self: stretch;
  height: 131px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  align-items: center;
  padding: var(--padding-31xl) var(--padding-base) var(--padding-21xl);
  position: relative;
}
.kp-wrapper {
  flex: 1;
  align-items: flex-start;
  padding: 0 0 var(--padding-8xs);
  min-width: 205px;
  max-width: 223px;
}
.kathikey-mishra1,
.student4 {
  position: absolute;
  margin: 0 !important;
  display: inline-block;
}
.kathikey-mishra1 {
  width: 191px;
  top: 45px;
  left: 16px;
  line-height: 20px;
}
.student4 {
  top: calc(50% + 4.5px);
  left: calc(50% - 27.5px);
  font-size: var(--font-size-sm);
  line-height: 21px;
  color: var(--color-slategray);
}
.mishra1 {
  height: 131px;
  flex: 0.8475;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-26xl) var(--padding-base) var(--padding-21xl);
  position: relative;
  gap: 5px 0;
  min-width: 205px;
  max-width: 223px;
}
.jayanth-j-j1,
.student5 {
  position: absolute;
  margin: 0 !important;
  display: inline-block;
}
.jayanth-j-j1 {
  width: 175px;
  top: 45px;
  left: 24px;
  line-height: 20px;
}
.student5 {
  top: calc(50% + 4.5px);
  left: calc(50% - 27.5px);
  font-size: var(--font-size-sm);
  line-height: 21px;
  color: var(--color-slategray);
}
.jatanth1 {
  height: 131px;
  flex: 0.7758;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-26xl) var(--padding-5xl) var(--padding-21xl);
  position: relative;
  gap: 5px 0;
  min-width: 205px;
  max-width: 223px;
}
.memborbox1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-base) var(--padding-8xl);
  gap: 0 12px;
  font-size: var(--font-size-base);
}
.aboutcontent1,
.maincontent1 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.maincontent1 {
  height: 959px;
  width: 960px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-300);
  font-family: var(--font-work-sans);
}
.aboutcontent1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-xl);
  min-height: 1108px;
}
.about-desing-after-record1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .main-option-menue13 {
    display: none;
  }
  .mainmenubox5 {
    width: 778.7px;
  }
}
@media screen and (max-width: 1050px) {
  .our-mission1,
  .our-story1,
  .our-team1 {
    font-size: var(--font-size-7xl);
    line-height: 32px;
  }
  .memborbox1 {
    flex-wrap: wrap;
  }
  .maincontent1 {
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .mainmenubox5 {
    gap: 0 32px;
  }
  .our-mission1,
  .our-story1,
  .our-team1 {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .jatanth1,
  .mentor2,
  .mishra1 {
    flex: 1;
  }
}
