.design-join-icon8 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.innerframe-icon8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.speech-emotion-detection17 {
  position: relative;
  letter-spacing: -0.27px;
  line-height: 22.5px;
  white-space: nowrap;
}
.logo8,
.pagetext8 {
  display: flex;
  justify-content: flex-start;
}
.pagetext8 {
  height: 22.5px;
  width: 131.3px;
  flex-direction: column;
  align-items: flex-start;
}
.logo8 {
  width: 163.3px;
  flex-direction: row;
  align-items: center;
  gap: 0 32px;
}
.home8 {
  position: relative;
  line-height: 21px;
  font-weight: 500;
}
.option18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.about8 {
  position: relative;
  line-height: 21px;
  font-weight: 500;
}
.option28 {
  width: 59.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.contacts8 {
  position: relative;
  line-height: 21px;
  font-weight: 500;
}
.option38 {
  width: 66px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-silver);
  font-family: var(--font-spline-sans);
}
.main-option-menue8 {
  align-self: stretch;
  width: 258px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 36px;
}
.back7 {
  position: relative;
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.back-button7,
.colorpart10 {
  display: flex;
  flex-direction: row;
}
.colorpart10 {
  height: 40px;
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-silver);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.back-button7 {
  width: 113px;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-gray-200);
  font-family: var(--font-spline-sans);
}
.contacknavbar3,
.mainmenubox3 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.mainmenubox3 {
  height: 40px;
  width: 1036.7px;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0 32px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
  font-family: var(--font-work-sans);
}
.contacknavbar3 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  align-items: center;
  background-color: rgb(240, 248, 255,0.9);
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-21xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-0);
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
  font-family: var(--font-plus-jakarta-sans);
}
.lets-get-in3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.8px;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
}
.formtopic3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-base) var(--padding-xs);
  text-align: center;
  font-size: var(--font-size-13xl);
}
.were-here-to3 {
  align-self: stretch;
  height: 60px;
  position: relative;
  line-height: 24px;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
}
.desciption3 {
  align-self: stretch;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base) var(--padding-xs);
  box-sizing: border-box;
  text-align: center;
}
.namebox3 {
  outline: 0;
  padding: var(--padding-9xl) var(--padding-13xl);
  font-family: var(--font-work-sans);
  font-size: var(--font-size-base);
  color: var(--color-slategray);
  border: 0;
  width: 100%;
  height: 100%;
  background: 0 0;
  position: relative;
  z-index: 3;
}
.your-name3 {
  width: 86px;
  height: 24px;
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.inputspace9,
.placeholder6 {
  height: 24px;
  width: 83px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputspace9 {
  height: 56px;
  width: 93%;
  border-radius: var(--br-xs);
  background-color: var(--color-whitesmoke);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-base);
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  left: 16px;
  top: 12px;
  pointer-events: none;
}
.emailbox3,
.wrapper-namebox3 {
  color: var(--color-slategray);
  border: 0;
  width: 100%;
  position: relative;
}
.wrapper-namebox3 {
  background-color: transparent;
  align-self: stretch;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 250px;
}
.emailbox3 {
  outline: 0;
  padding: var(--padding-9xl) var(--padding-13xl);
  font-family: var(--font-work-sans);
  font-size: var(--font-size-base);
  height: 100%;
  background: 0 0;
  z-index: 3;
}
.your-email3 {
  width: 85px;
  height: 24px;
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.inputspace10,
.placeholder7 {
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
}
.placeholder7 {
  height: 24px;
  width: 82.2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.inputspace10 {
  height: 56px;
  width: 93%;
  border-radius: var(--br-xs);
  background-color: var(--color-whitesmoke);
  justify-content: space-between;
  padding: var(--padding-base);
  position: absolute;
  z-index: 1;
  left: 16px;
  top: 12px;
  pointer-events: none;
}
.inputspace10,
.inputspace11,
.messagebox3,
.wrapper-emailbox3 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.wrapper-emailbox3 {
  position: relative;
  width: 100%;
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 80px;
  align-items: center;
  justify-content: flex-start;
  min-width: 250px;
  color: var(--color-slategray);
}
.inputspace11,
.messagebox3 {
  max-width: 100%;
}
.inputspace11 {
  border: 0;
  background-color: var(--color-whitesmoke);
  height: 144px;
  width: auto;
  outline: 0;
  flex: 1;
  border-radius: var(--br-xs);
  overflow: hidden;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-base);
  font-family: var(--font-work-sans);
  font-size: var(--font-size-base);
  color: var(--color-slategray);
}
.messagebox3 {
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
}
.vector-container {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.subscribe-to-our3 {
  position: relative;
  line-height: 24px;
}
.subcribion3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0;
  gap: 0 12px;
}
.vector-09 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.request-a-call3 {
  position: relative;
  line-height: 24px;
}
.request3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0;
  gap: 0 10px;
}
.checkboxes3,
.contentbox5 {
  flex-direction: column;
  justify-content: flex-start;
}
.checkboxes3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: 0 var(--padding-base);
}
.contentbox5 {
  width: 512px;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  min-height: 695px;
  max-width: 100%;
}
.contact-desing-main,
.contentbox5,
.fillupbox3 {
  display: flex;
  align-items: flex-start;
}
.fillupbox3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-141xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-work-sans);
}
.contact-desing-main {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .main-option-menue8 {
    display: none;
  }
  .mainmenubox3 {
    width: 778.7px;
  }
}
@media screen and (max-width: 1050px) {
  .lets-get-in3 {
    font-size: var(--font-size-7xl);
    line-height: 32px;
  }
  .fillupbox3 {
    padding-left: var(--padding-61xl);
    padding-right: var(--padding-61xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .mainmenubox3 {
    gap: 0 32px;
  }
  .lets-get-in3 {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .fillupbox3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
